<center>
	<br><br><br><br>
	<nav>
		<img  src = "logo-4.png">
		<font FACE="symbah regular">yoTeArriendo</font>
		<font FACE="gotham thin">.com</font>
  		{{#link-to "route-inicio"}}Inicio{{/link-to}}
  		{{#link-to "route-tours"}}Tours{{/link-to}}
  		{{#link-to "route-hotel"}}Hoteles{{/link-to}}
  		{{#link-to "route-cities"}}Ciudades{{/link-to}}
  		{{#link-to "route-countries"}}Paises{{/link-to}}
  		{{#link-to "route-profile"}}Perfil{{/link-to}}
	</nav>
</center>

{{outlet}}

<center>
	<h4>YoTeArriendo.com Todos los derechos reservados 2018 Medellin, Antioquia<img  src = "logo-4.png"></h4>
</center>